.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project h1 {
  color: #3e497a;
  font-size: 35px;
  margin: 20px;
}

.project img {
  max-width: 100%;
  border-radius: 10px;
  margin: 20px;
}

.project p {
  font-size: 40px;
  color: #3e497a;
  margin: 20px;
}

.project svg {
  font-size: 60px;
  color: #3e497a;
  margin: 20px;
}
